body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
	color: #4caf50;
}

.main-container {
	width: 80%;
	margin-left: 200px;
	padding: 10px 20px;
}

nav {
	margin: 0;
	padding: 10px 0px;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #4caf50;	
}

nav h2 {
	padding: 0px 20px;
	color: white;
}

nav ul {
	list-style-type: none;
	padding: 0px;
}

nav ul li {
	padding: 15px 20px 5px 20px;
	color: white;
}

nav ul li:hover {
	color: #4caf50;
	background-color: white;
}

nav ul li.active {
	color: black;
	background-color: white;
}

nav ul li a {
	color: black;
	text-decoration: none;
}

nav ul li a:hover {
	color: #4caf50;
}